/languages/WPLanguage/classes_gen
/languages/WPLanguage/source_gen
/languages/WPLanguage/source_gen.caches
/solutions/Sandbox/classes_gen
/solutions/Sandbox/source_gen
/solutions/Sandbox/source_gen.caches
/.mps
